# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build & Cache
dist/
build/
.cache/
.parcel-cache/

# Editor & IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agents/
.gemini/

# Logs & Environment
*.log
.env
.env.local
.env.*.local
